div {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.navbar{
    color: blueviolet;
}

.nav-link:active, .nav-link:hover {
    color: rgb(82, 1, 58) !important;
  }

  

  .slide-image {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: center;
  }


