@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600&display=swap');
.navbar {
 /* font-family: "Lucida Console", "Courier New", monospace;*/
 font-family: 'Hind Siliguri', sans-serif;
 font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font: bold;
    font-size: large;
    color: rgb(255, 255, 255);
    font-family: 'Hind Siliguri', sans-serif;
font-family: 'IBM Plex Sans Thai Looped', sans-serif;
   
}
/*.container-fluid{
  font-family:  'Hind Siliguri', sans-serif;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-family: 'Indie Flower', cursive;
}*/

div{
  font-family: 'Hind Siliguri', sans-serif;
font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  background-color: #A8B1D8;
  font-size: 1em;
  color:rgb(255, 255, 255);
}
.carousel-inner{
  background-color: khaki;
}
.backgroundpic{
  background-color: khaki;
}

.item66{
  grid-column-start: 1;
    grid-column-end:4;
    background-color: transparent;
}

.navbar{
  border-bottom: 1px solid #ffffff;
}
.nav-link:active, .nav-link:hover {
    color: #533661 !important;
  }
  .nav-link:active{
    color:rgb(71, 82, 146);
    font: bold;
    
  }

  .grid-container 
  {
       display: grid;
       grid-template-columns: auto auto auto;
       grid-template-rows: auto auto auto;
       padding: 10px;
       size: 100px;
  }

  .item1{
    grid-column-start: 1;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 2;
     padding-right: 600px;
  }

  .flex-container
{
     display: flex;
     justify-content: center;
     flex-direction: row;
     float: right ;
}

.flex-container > div
{     
     background-color: rgb(255, 255, 255);
     padding-right: 50px;
     padding-left: 50px;   
     background-color: grey;
}

  .slide-image {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: center;
  }

  .about-us-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: #A8B1D8;
  }

  .about-us-image-debroo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: #A8B1D8;
    float: left;
    
  }

  .dropdown-submenu { /*dropdown to dropdown Funktion*/
    position: relative;
    cursor: pointer;
  }

  .dropdown-submenu .dropdown-menu { /*dropdown to dropdown einstellungen*/
    top: 1;
    left: 100%;
    margin-top: -20px;
  }

  .dropdown-content {
    display: inline;
    /*display: none;*/
    position: absolute;
    background-color: #ffffff; /*Hintergrund des Dropdowns*/
    min-width: 160px; /*Breite der Dropdown Box*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
     z-index: 1;
  }
  
  .dropdown-content a { /*Farbe der Buchstaben im Dropdown*/
    color: #A8B1D8;
    padding: 3px 5px;
    text-decoration: none;
    font: bold;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #dbe0f5} /*Farbe des Dropdowns*/
  
  .dropdown:hover .dropdown-content { /*dropdown Funktion*/
    display: block;
  }