@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
.navbar {
    background-color: #A8B1D8;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #A8B1D8;
}

div{
    font-family: 'Roboto', sans-serif;
    background-color: #A8B1D8;
    font-size: 1em;
    color:rgb(255, 255, 255);
}

.hud-prefix
{
    text-align: center;
    font-size: 2em;
}

.navbar{
    /*Linie unterm navbar*/
    border-bottom: 1px solid #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}


.prompt {
    display: block;
    font-size: 2em;
}

.btn {
    margin: 0 50px 0 50px;
}
.btn-group
{
    margin-left: 60px;
}

.btn-strongly-agree {
   /* color: #394464;*/
    font-weight: bold;
}

.btn-strongly-agree.active,
.btn-strongly-agree:active,
.btn-strongly-agree:focus,
.btn-strongly-agree:active:focus,
.btn-strongly-agree.active:focus,
.btn-strongly-agree:hover
{
    background-color: #394464;
}

.btn-agree {
    color: #394464;
}

.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
   /* background-color: rgba(137, 210, 152, 0.5);*/
    background-color: #5C6689;

}

.btn-disagree {
   /* color: #5C6689;*/
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
    /*background-color: rgba(226, 129, 129, 0.5);*/
    background-color: #5C6689;

}

.btn-strongly-disagree {
    /*color: #394464;*/
    font-weight: bold;
}

.btn-strongly-disagree.active,
.btn-strongly-disagree:active,
.btn-strongly-disagree:focus,
.btn-strongly-disagree:active:focus,
.btn-strongly-disagree.active:focus,
.btn-strongly-disagree:hover {
    background-color: #394464;
}

.bottom {
    margin-bottom: 100px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*results*/
.results {
    margin-bottom: 40px;
    margin-top: 40px;
}

/*Grid with Cards*/
.grid-container-cards
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap:10px;
    padding: 100px;
}

.colorButton{
    background-color: #7c9fc5;
    border-color: #7c9fc5;
}

.card-one{
    width: 22em;
    margin-left: 0em;
}
.cards{
    width: 22em;
}

.color1{
    border-color: #7c9fc5;
    border-left-width: 5px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}

.color2{
    border-color: #7c9fc5;
    border-left-width: 5px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}

.color3{
    border-color: #7c9fc5;
    border-left-width: 5px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}

/*DROPDOWN*/
.dropdown-submenu { /*dropdown to dropdown Funktion*/
    position: relative;
    cursor: pointer;
}

.dropdown-submenu .dropdown-menu{ /*dropdown to dropdown einstellungen*/
    top: 1%;
    left: 100%;
    margin-top: -20px;
}
.dropdown-menu
{
    padding: 0rem;
}

.dropdown-content {
    display: inline;
    /* display: none;*/
    position: absolute;
    background-color: #ffffff; /*Hintergrund des Dropdowns*/
    min-width: 160px; /*Breite der Dropdown Box*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    z-index: 1;
}

.dropdown-content a { /*Farbe der Buchstaben im Dropdown*/
    color: #A8B1D8;
    padding: 3px 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.dropdown-content a:hover {background-color: #dbe0f5} /*Farbe des Dropdowns*/

.dropdown:hover .dropdown-content { /*dropdown Funktion*/
    display: block;
}

.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #b0c2d7;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #616c77;
}

#submit-btn
{
    background-color: #5C6689;
}
#retake-btn
{
    background-color: #5C6689;
}

.containerQUIZ
{
    color: white;
    align-items: center;

}

.container.text-center {
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 0px;
}

.container.text-center.bottom
{
    background-color: white;
}

.results
{
    background-color: #A8B1D8;

}

.container.text-center.results.show
{
    background-color: #A8B1D8;
    width: 100%;
    height: 100%;

}

/*.h2
{
    line-height: 1.2;
    align-content: center;
    margin-left: 50px;
}*/

.list-group
{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container.text-center.bottom {
    background-color: #818BB0;
}

.list-group-item.prompt
{
    font-size: 1.5em;
}