@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
.navbar {
    font-family: 'Roboto', sans-serif;
    
    background-color: #A8B1D8;
    background-size: auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-family: bold;
    font-size: large;
    color: rgb(255, 255, 255);
}

.nav-link:active, .nav-link:hover {
  color: #533661 !important;
}
.nav-link:active{
  color:rgb(71, 82, 146);
  font-family: bold;
  
}

.img{
height: 60px; 
width: 60px;
 padding: 10px;
}

.item4{
  grid-column-start: 1;
  grid-column-end:4;
}

.image {
  width: 15em;
  height: 15em;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 30px;
}

.item1{
  grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 2;
   padding-right: 100px;
}

.item2{
  grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 2;
   padding-left: 100px;
}

.item3{
  grid-column-start: 1;
   grid-column-end:4;
   padding-top: 40px;
}

.navbar{
  border-bottom: 1px solid #ffffff;
}

.nav-brand{
    border-bottom: 1px solid #A8B1D8;
}

.outfitImg
{
  width: 18em;
  height: 18em;
  padding-left: 30px;
}

.div-s {
  background-color: #606b92;
  padding: 11px;
}

p {  
  color: #ffffff;
}

h1, h2, h3{
  font-family: bold;
  
  color: #ffffff;
  text-align: center;
}

a {
  color:rgb(163, 73, 0);
}
a:link, a:visited {
  text-decoration: none;
}
a:visited{
  color:rgb(82, 76, 0);
}


.dropdown-submenu { /*dropdown to dropdown Funktion*/
  position: relative;
  cursor: pointer;
}

.dropdown-submenu .dropdown-menu { /*dropdown to dropdown einstellungen*/
  top: 1rem;
  left: 100%;
  margin-top: -20px;
}

.dropdown-content {
  display: inline;
 /* display: none;*/
  position: absolute;
  background-color: #ffffff; /*Hintergrund des Dropdowns*/
  min-width: 160px; /*Breite der Dropdown Box*/
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
   z-index: 1;
}

.dropdown-content a { /*Farbe der Buchstaben im Dropdown*/
  color: #A8B1D8;
  padding: 3px 5px;
  text-decoration: none;
  font-family: bold;
  display: block;
}

.dropdown-content a:hover {background-color: #dbe0f5} /*Farbe des Dropdowns*/

.dropdown:hover .dropdown-content { /*dropdown Funktion*/
  display: block;
}