body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
    background-color: #515e6bcb;
    background-size: auto;
}

.image {
    width: 9em;
    height: 9em;
}

.outfitImg
{
    width: 15em;
    height: 26em;
}

div {
    background-color: rgba(146, 92, 92, 0.705);
    width: 1024px;
    padding: 60px;
    margin: 120px;
    height: 120px;
  }

p {
    color: rgba(14, 1, 71, 0.918);
}

h1, h2, h3{
    color:rgba(14, 10, 10, 0.726);
}

a {
    color:rgb(255, 144, 52);
}
a:link, a:visited {
    text-decoration: none;
}
a:visited{
    color:rgb(253, 243, 105);
}
