body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
    background-color: #A8B1D8;
    background-size: auto;
    color: #ffffff;
}



.item4{
    grid-column-start: 1;
    grid-column-end:4;
}

.image {
    width: 9em;
    height: 9em;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 100px;
  
}

.item1{
    grid-column-start: 1;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 2;
     padding-right: 100px;
}

.item2{
    grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 2;
     padding-left: 100px;
}

.item3{
    grid-column-start: 1;
     grid-column-end:4;
}


.navbar{
    border-bottom: 1px solid #ffffff;
  }

.nav-brand{
      border-bottom: 1px solid #A8B1D8;

  }

.outfitImg
{
    width: 18em;
    height: 18em;
    padding-left: 30px;
}

.div-s {
    background-color: #99abfa;
    padding: 11px;
    
    
  }

p {
    
    color: #ffffff;
}

h1, h2, h3{
    font: bold;
    
    color: #ffffff;
    text-align: center;
}

a {
    color:rgb(163, 73, 0);
}
a:link, a:visited {
    text-decoration: none;
}
a:visited{
    color:rgb(82, 76, 0);
}
