body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
    background-color: #9b9a8a;
    background-size: auto;
}

.div-style
{
    margin-top: 122px;
}

.h1pos{
    margin-left: 11px;
}
.image {
    width: 9em;
    height: 9em;
}

.outfitImg
{
    width: 15em;
    height: 26em;
}

div {
    background-color: rgb(99, 68, 57);
    padding: 12px;
    height: 200px;
    margin: -12px;
  }

p {
    color: rgba(29, 29, 29, 0.918);
}

h1, h2, h3{
    color:rgba(29, 29, 29, 0.918);
}

a {
    color:rgb(255, 144, 52);
}
a:link, a:visited {
    text-decoration: none;
}
a:visited{
    color:rgb(82, 76, 0);
}
